<header>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
            <!-- Reemplaza el texto con la etiqueta <img> para mostrar la imagen -->
            <a class="navbar-brand" >
                <img src="assets/images/LOGOAGRICOLA.png" alt="Logo de Llerveteros">
            </a>
            <!-- Resto del código de la barra de navegación -->
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item" routerlinkActive="active">
                        <a class="nav-link" routerLink="/homes">Home</a>
                    </li>
                    <li class="nav-item" routerlinkActive="active" >
                        <a class="nav-link" routerLink="/servicios">Servicios</a>
                    </li>
                    <li class="nav-item" routerlinkActive="active">
                        <a class="nav-link" routerLink="/quienes_somos">Quienes Somos</a>
                    </li>
                    <li class="nav-item" routerlinkActive="active" >
                        <a class="nav-link" routerLink="/galeria_de_imagenes">Galeria de imagenes</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
  </header>