footer {
    background-color: #009900; /* Cambia el color de fondo a tu preferencia */
    color: #fff; /* Cambia el color del texto a tu preferencia */
    padding: 10px 0;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
  }