<article class="grupo introduccion">
    <div class="content-section">
        <img src="assets\images\Fondo3.jpg" class="img">
    </div>
    <div class="grupo enlinea">
        <h3 class="titulo">
            ¿Quiénes somos?
            <i class="decoracion"></i>
        </h3>
        <blockquote>
            “Somos líderes en la industria agroalimentaria. Nuestra pasión es cultivar y alimentar al mundo.”
            <footer>- <cite>Kevin Cuesta, CEO AgroHuila</cite></footer>
        </blockquote>
        <p>AgroHuila es un equipo apasionado y comprometido con la agricultura. Contamos con décadas de experiencia en el sector agrícola y nos enorgullece contribuir a la seguridad alimentaria global.</p>
    </div>
</article>