<div class="content-section">
  <img src="assets\images\Fondo4.jpg" class="img">
<div class="contenedor-galeria">
    <ul>
      <li>
        <div class="titulo-imagen">
        </div>
        <img src="https://images.unsplash.com/photo-1535379453347-1ffd615e2e08?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1974&q=80">
      </li>
      <li>
        <div class="titulo-imagen">
       
        </div>
        <img src="https://images.unsplash.com/photo-1656232510272-8124a18b780c?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1770&q=80">
      </li>
      <li>
        <div class="titulo-imagen">
         
        </div>
        <img src="https://images.unsplash.com/photo-1524486361537-8ad15938e1a3?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1769&q=80">
      </li>
      <li>
        <div class="titulo-imagen">
          
        </div>
        <img src="https://images.unsplash.com/photo-1692369584496-3216a88f94c1?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1932&q=80">
      </li>
      <li>
        <div class="titulo-imagen">
        
        </div>
        <img src="https://images.unsplash.com/photo-1655048424318-2d56ccf9a51a?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1772&q=80">
      </li>
    </ul>
  </div>
  