<div class="content-section">
    <img src="assets\images\Fondo1.jpg" class="img">
    </div>
<div class="Person">
    <img src="assets\images\Persona1.png" class="per">
</div>
<div class="welcome-container">
    <h1>Bienvenidos a AgroHuila</h1>
    <p>En AgroHuila, cultivamos el futuro con pasión y compromiso. Somos tu fuente confiable de productos y servicios agrícolas de alta calidad en la región de Huila y más allá. Con años de experiencia y dedicación a la agricultura sostenible, estamos aquí para servir a nuestros clientes y a nuestra tierra.</p>
    <p>Explora nuestro sitio para descubrir cómo AgroHuila puede satisfacer tus necesidades agrícolas. Desde nuestros servicios especializados hasta una amplia gama de productos de calidad, estamos listos para ser tu socio en el éxito agrícola.</p>
    <p>¡Bienvenidos a AgroHuila, donde el campo cobra vida!</p>
</div>