@import url('https://fonts.googleapis.com/css?family=Montserrat:600|Open+Sans');
.img {
    position: absolute; 
    top: 0;
    left: 0;
    width: 100%; 
    height: 100%; 
    z-index: -1;
    object-fit: cover; 
    opacity: 0.70;
}
.per {
    position: absolute;
    top: -100;
    left: -200px !important;
    width: 1200px; 
    height: auto; 
    object-fit: cover;
    opacity: 1;

}

.welcome-container {
    font-family: 'Montserrat', sans-serif;
    position: relative;
    z-index: 1;
    top:150px;
    left: -50px;
    padding-left: 800px; 
    margin-top: 20px;
    
}