<div class="content-section">
  <img src="assets\images\Fondo2.jpg" class="img">
</div>
<section>
    <h1>Servicios</h1>
    <p class="section-lead">Estos son los servicios que le podemos ofrecer en Agrohuila.</p>
    <div class="services-grid">
      <div class="service service1">
        <i class="ti-bar-chart"></i>
        <h4>Cultivo y Producción de Cultivos</h4>
        <p>Esta empresa se encarga de cultivar y cosechar una variedad de cultivos, como cereales, frutas y verduras, brindando servicios que abarcan desde la preparación del suelo hasta la cosecha.</p>
      </div>
  
      <div class="service service2">
        <i class="ti-light-bulb"></i>
        <h4>Gestión de Explotaciones Agrícolas</h4>
        <p> Ofrece asesoramiento y gestión a propietarios de tierras agrícolas, ayudándoles a planificar y optimizar sus operaciones, además de promover prácticas sostenibles.</p>
      </div>
  
      <div class="service service3">
        <i class="ti-money"></i>
        <h4>Distribución y Comercialización de Productos Agrícolas</h4>
        <p>Se encarga de transportar, almacenar y distribuir productos agrícolas a clientes como supermercados, restaurantes y mercados, además de gestionar la comercialización de estos productos.</p>
      </div>
    </div>
</section>